.img{
    width: 50%;
}
.navbar-nav{
    width: 80%;
    padding-left: 35%;
}
.nav-item{
    margin-right: 10%;
}
.fa{
    padding-top: 10px;
    font-size: 18px;
}
.aboutImg{
    width: 95%;
    margin-left: 4%;
}